#trending
{
  margin-left: 10px;
}

#searchBar {
    font-size: 16px; 
    padding: 20px 20px 12px 40px; 
    border: 5px solid #ddd; 
    margin-bottom: 12px; 
    width: 20%;
  }
  
  #gifsUL {

    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 20%;
  }
  
  #gifsUL li{
    margin-top: -1px; 
    padding: 12px;
    display: block; 
    max-width: 20%;
    max-height: 20%;
  }
  
